#highlight-container{
    position: absolute;
    right: 430px;
    top: 175px;
    width: 752px;
}

#highlight-title-wrapper{
    display: flex;
    flex-direction: column;
}

#highlight-job-title{
    font-weight: bolder;
    font-size: 48px;
}

#highlight-job-name{
    font-size: 36px;
}

#highlight-description-container{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

@media (max-width: 1750px) {
 #highlight-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: unset;
    width: 350px;
    }
}
