#highlight-container{
  position: absolute;
  top: 14%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 45vw;
}

#highlight-title-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#highlight-job-title{
    font-weight: bolder;
    font-size: 2em;
}

#highlight-job-name{
    font-size: 1.5em;
}

#highlight-description-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#highlight-description-container p::before{
    content: "\2022"; 
    padding-right: 8px;
}

@media (max-width: 1120px) {
 #highlight-container{
    position: unset;
    transform: unset;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    padding: 30px;
    margin: auto;
    }
}
