#intro-container{
    padding:50px;
    height: 900px;

}

#intro-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

#intro-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#name-logo-title-wrapper{
    display: flex;
    flex-direction: row;
}

.down-arrow-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 32px;
}
/* ADORNMENT STYLES */

#top-adonrment-container, 
#bot-adonrment-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#top-1{
    background: var(--primary-text-color);
    width: 312px;
    height: var(--adornment-height);
}

.red-bar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.red-bar-a{
    width: 92px;
    height: var(--adornment-height);
    background: var(--red-gradient);
}

.red-bar-b{
   width: 14px;
   height: 14px; 
   background: var(--red-gradient);
   border-radius: 0px !important;
    transform: rotate(180deg); 
}

#top-3{
    display: flex;
    align-items: center;
    border-radius: 28px;

}

#top-3a{
    width: 176px;
    height: var(--adornment-height);
    background: var(--primary-text-color);
}

#top-3b{
    width: 438px;
    height: var(--adornment-height);
    margin-left: 6px;
    background: var(--primary-text-color);
}

.blue-diamond{
    margin-left: 17px;
    width: 14px;
    height: 14px;
    border-radius: 0 !important;
    transform: rotate(-45deg); 
    background: var(--blue-gradient);
}

#top-4{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 28px;
}

#top-4a{
    width: 262px;
    height: var(--adornment-height);
    background: var(--primary-text-color);
}

.green-circle{
    width: 14px;
    height: 14px;
    /* border-radius: 100%; */
    background: var(--green-gradient);
}

#top-4c{
    width: 104px;
    height: var(--adornment-height);
    background: var(--primary-text-color);
}

#bot-1{
    display: flex;
    align-items: center;
    gap: 8px;
}

#bot-1a{
    background: var(--primary-text-color);
    width: 201px;
    height: var(--adornment-height);
}

#bot-1c{
    background: var(--primary-text-color);
    width: 105px;
    height: var(--adornment-height);
}

#bot-2{
    display: flex;
    align-items: center;
}

#bot-2a{
    display: block;
    width: 620px;
    height: var(--adornment-height);
    background: var(--primary-text-color);
}

/* ADORNMENT STYLES END */

/* Move to index */
.arrow-shaft{
    display: flex;
    width: 4px;
    height: 612px;
    background: var(--primary-text-color);
}

.arrow-head {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--primary-text-color)
}

#name-logo-title-wrapper{
    display: flex;
    gap: 15px;
}

#name-title-container{
    display:flex;
    flex-direction: column;
}

#name-wrapper{
  font-family: 'Kusanagi';
  src: url('../public/Kusanagi.otf');
  font-size: 43px;
  font-weight: 100;
}

#title-wrapper{
    padding-top: 5px;
    font-weight: 100;
}

#logo-wrapper{
    display: flex;
}

.logo-icon{
    display: block;
    margin-top: 15px;
    width: 100px;
    height: 100px;
    background: var(--primary-text-color);
    -webkit-mask: url('/jhd_logo.svg') center / contain no-repeat;
    mask: url('/jhd_logo.svg') center / contain no-repeat;
}


#name-wrapper{
    display: flex;
    flex-direction: column;
}