#intro-container{
    height: 975px;
   
}

#intro-wrapper{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#intro-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

/* ADORNMENT STYLES */

#top-adonrment-container, 
#bot-adonrment-container{
    display: flex;
    flex-direction: column;
}

#top-1a{
    display: block;
    width: 312px;
    height: var(--adornment-height);
    background-color: var(--primary-text-color);
}

.top-2-bot-3,
#top-1, #top-3,
.top-4-bot-1,
#bot-2{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    height: 28px;
}

.bar{
    width: 92px;
    height: var(--adornment-height);
    background-color: var(--primary-text-color);
}

.star{
    font-size: 34px;
}

#top-3a{
    width: 176px;
    height: var(--adornment-height);
    background-color: var(--adorn-blue);
}

#top-3b{
    width: 429px;
    height: var(--adornment-height);
    background-color: var(--adorn-blue);
}

#top-3c,
#bot-2b{
    font-size: 34px;
    color: var(--adorn-red);
}

#top-4a{
    width: 250px;
    height: var(--adornment-height);
    border: 1px solid var(--primary-text-color);
}

.top-4b-bot-1b{
    font-size: 34px;
    color: var(--adorn-red);
}

.top-4c-bot1c,
#bot-1a{
     width: 105px;
    height: var(--adornment-height);
    border: 1px solid var(--primary-text-color);
}

#bot-1a{
    width: 200px;
}

 #bot-2a{
   width: 620px;
   height: var(--adornment-height);
   background-color: var(--adorn-blue);
}

/* ADORNMENT STYLES END */

.down-arrow-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 32px 0 32px;
}

.arrow-shaft{
    display: flex;
    margin-top: 100px;
    width: 4px;
    height: 70%;
    background: var(--primary-text-color);
}

.arrow-head {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--primary-text-color)
}

#name-logo-title-wrapper{
    display: flex;
    gap: 15px;
}

#name-title-container{
    display:flex;
    flex-direction: column;
}

#name-wrapper{
  font-family: 'Kusanagi';
  src: url('../public/Kusanagi.otf');
  font-size: 43px;
  font-weight: 100;
  filter: invert(100%);
  mix-blend-mode: difference;
}

#title-wrapper{
    padding-top: 5px;
    font-weight: 100;
    font-size: 1.2em;
    filter: invert(100%);
    mix-blend-mode: difference;
}

#logo-wrapper{
    display: flex;
}

#name-wrapper{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1120px) {

    #intro-container{
       height: 975px;
       background: #fff;
   
    }
    
    #intro-card-wrapper{
        margin: auto;
    }

     .down-arrow-wrapper{
        display: none;
    }

    #top-adonrment-container, 
    #bot-adonrment-container{
        display: flex;
        flex-direction: column;
    }

    #top-3b{
        width: 275px;
    }

    #bot-2a{
        width: 470px;
    }

}