.work-thumb,
.project-thumb {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 3px 9px 3px 9px;
    position: relative;
    width: 220px;
    background-repeat: no-repeat;
    background-size: 0 0;
    transition: background-size 0.2s ease;
    cursor: pointer;
    opacity: 0.5;
}

.work-thumb.is-selected,
.project-thumb.is-selected {
    opacity: 1;
}

.work-thumb-container,
.proj-thumb-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.link-wrapper{
    display: flex;
    gap: 8px;
     padding: 3px 9px 3px 9px;
}

.link-wrapper a,
.link-wrapper a:visited{
    color: var(--primary-text-color);
}

.work-thumb:hover,
.project-thumb:hover,
.work-thumb.is-selected,
.project-thumb.is-selected {
    background-image:
        linear-gradient(to right, var(--primary-text-color) 2px, transparent 2px),
        linear-gradient(to bottom, var(--primary-text-color) 2px, transparent 2px),
        linear-gradient(to left, var(--primary-text-color) 2px, transparent 2px),
        linear-gradient(to bottom, var(--primary-text-color) 2px, transparent 2px),
        linear-gradient(to right, var(--primary-text-color) 2px, transparent 2px),
        linear-gradient(to top, var(--primary-text-color) 2px, transparent 2px),
        linear-gradient(to left, var(--primary-text-color) 2px, transparent 2px),
        linear-gradient(to top, var(--primary-text-color) 2px, transparent 2px);
    background-position:
        top left, top left,
        top right, top right,
        bottom left, bottom left,
        bottom right, bottom right;
    background-size: 14px 12px, 12px 14px,
                     14px 12px, 12px 14px,
                     14px 12px, 12px 14px,
                     14px 12px, 12px 14px;
}

@media (max-width: 1120px) {
 
    .work-thumb:hover,
.project-thumb:hover,
.work-thumb.is-selected,
.project-thumb.is-selected {
    background-image:
        linear-gradient(to right, var(--flag-extra-color) 2px, transparent 2px),
        linear-gradient(to bottom, var(--flag-extra-color) 2px, transparent 2px),
        linear-gradient(to left, var(--flag-extra-color) 2px, transparent 2px),
        linear-gradient(to bottom, var(--flag-extra-color) 2px, transparent 2px),
        linear-gradient(to right, var(--flag-extra-color) 2px, transparent 2px),
        linear-gradient(to top, var(--flag-extra-color) 2px, transparent 2px),
        linear-gradient(to left, var(--flag-extra-color) 2px, transparent 2px),
        linear-gradient(to top, var(--flag-extra-color) 2px, transparent 2px);
    background-position:
        top left, top left,
        top right, top right,
        bottom left, bottom left,
        bottom right, bottom right;
    background-size: 14px 12px, 12px 14px,
                     14px 12px, 12px 14px,
                     14px 12px, 12px 14px,
                     14px 12px, 12px 14px;
    }

    .work-thumb,
    .project-thumb {
        width: 100%;
    }

    .link-wrapper{
        display: none;
    }

}