#canvas-test {
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: relative;
    z-index: 1;
}

#work-container{
    display: flex;
}

h3{
    font-family: 'Kusanagi';
    font-size: 25px;
    margin-bottom: 25px;
}

h4{
    font-weight: bolder;
}

#work-proj-container,
#work-thumb-wrapper,
#proj-thumb-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#work-container{
    height: 900px;
}

#about-container{
    display: flex;
}

.about{
    width: 400px;
    margin-bottom: 25px;
}