#canvas-test {
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    z-index: 1;
}

#work-proj-highlight-bar,
#about-skill-bar{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 900px;
    background-color: var(--left-bar-color);
    box-shadow: 6px 2px 0px -2px rgba(0, 0, 0, 0.25);
}

#about-skill-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#about-wrapper,
#skill-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    padding: 20px 60px 20px 60px;
}

.about, .skill-block p{
    font-size: 1.2em;
}

#work-proj-highlight-bar{
    border-top-right-radius: 100px;
}

h3{
    font-family: 'Kusanagi';
    font-size: 1.55em;
    margin-bottom: 20px;
}

h4{
    font-weight: bolder;
    font-size: 1.3em;
}

#work-container,
#proj-container{
    margin: 25px 0 0 25px;
}


#work-thumb-wrapper,
#proj-thumb-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1em;
}

.divider-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
}

.divider{
    width: 100%;
    height: 4px;
    background-color: var(--primary-text-color);
}

.divider-point{
    position: relative;
    right: 7px;
    bottom: 1px;
}

@media (max-width: 1120px) {
    
    #work-proj-highlight-bar,
    #about-skill-bar{
        width: 100vw;
        background-color: rgba(232, 229, 228, .5);
    }
    
    #work-proj-highlight-bar{
        height: auto;
    }


    #about-skill-bar{
    flex-direction: column;
    margin: auto;
}

    #about-wrapper,
    #skill-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 90%;
    padding: 15px;
    }

    
}