*{
  margin: 0;
  padding: 0;
   -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/Inter-Regular.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kusanagi';
  src: url('/Kusanagi.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'Inter-Regular';
  color: var(--primary-text-color);
  /* max-width: 2326px;
  max-height: 1440px; */
  margin: auto;
  background-color: #fff;
}

a, a:visited{
  color: var(--primary-text-color);
}

 main a::after {
    content: " ↗";
    font-style: normal;
}

:root{
  --primary-text-color: #000;
  
  --flag-extra-color: #fff;
  --adorn-red: #FE0000;
  --adorn-blue: #8ed2f5;
  --adornment-height: 12px;

  --left-bar-color: #dcd4d1 ;  
}

@media (max-width: 1120px) {
  a, a:visited{
  color: var( --flag-extra-color);
}
}